<div class="container-fluid d-flex flex-column">
    <hr>
    <div class="row w-100">
        <div class="col-sm-12 text-center fw-bold my-auto">
            Welcome Admin !!
        </div>    
    </div>
    <hr>
    <div class="row ">
        <div class="col-sm-12">
            <app-header></app-header>
        </div>    
    </div>
    <div class="row bg-light">
        <div class="col-sm-12">
           <router-outlet></router-outlet>
        </div>     
    </div>
    <hr class="mt-5">
    <div class="row  ">
        <div class="col-sm-12 ">
            <app-footer></app-footer>
        </div>    
    </div>

    </div>


    <!-- <div class="container-fluid p-auto m-auto">
    
    <div class="container-fluid d-flex flex-column">
        <div class="row">   
            <app-header></app-header>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
           <div class="row">
            <app-footer></app-footer>
        </div>
    </div>
</div> -->