<div class="container-fluid">


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.bigbasket.com/media/uploads/banner_images/hp_m_bcd_paneer_460-250722.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.bigbasket.com/media/uploads/banner_images/hp_fnv_t2_chandigarh_460_200822.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.bigbasket.com/media/uploads/banner_images/HP_EMF_M_WeekdayChandigarh-Tricity-1600x460_220822.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.bigbasket.com/media/uploads/banner_images/hp_m_sbf_tasties-origin_460-250722.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.bigbasket.com/media/uploads/banner_images/hp_fom_TB_Staples_chandigarh_460_200822.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.bigbasket.com/media/uploads/banner_images/hp_m_gwf_happychef_460-250722.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span>Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container">
        <div class="row">
            <div class="p-3 col-lg-2">
                <img src="../Miniproject/emf.png" alt="">
            </div>
            <div class="p-3 col-lg-2">
                <img src="../Miniproject/bstar.png" alt="">
            </div>
            <div class="p-3 col-lg-2">
                <img src="../Miniproject/PRECAUTION MEASURES.png" alt="">
            </div>
            <div class="p-3 col-lg-2">
                <img src="../Miniproject/faq.png" alt="">
            </div>
            <div class="p-3 col-lg-2">
                <img src="../Miniproject/cs.png" alt="">
            </div>
            <div class="p-3 col-lg-2">
                <img src="../Miniproject/dow.png" alt="">
            </div>
        </div>

        <div class="row">
            <div class="pt-2 col col-lg-11">
                <h1 class="pt-1 text-center fs-5"> My Smart Basket </h1>
            </div>
            <div class="pt-2 col col-lg-1">
                <span>
                    <div class="p-0 button btn pc">Show more</div>
                </span>
            </div>
            <hr>
        </div>
        <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <ng-container *ngFor ="let item of productService.products | slice:0:3; let i=index">
                    <div class="carousel-item  d-flex" *ngIf=active" > 
                        <ng-container *ngFor="let item of productService.products,let i=index">
                            <div class="  card w-25" *ngIf="i<4">
                                <div class="card-header align-self-center"><img class="img-fluid" src="capc.jpg" alt="img">
                                </div>
                                <div class="div card-body">
                                    <h1 style="font-size:x-small;">{{item.brand}}<br>
                                        {{item.productName}} <br><br>500 g</h1>
                                    <div class="bg-light">
                                        <h1>MRP:
                                            {{item.price | currency:'INR' }} Rs {{i}}</h1>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                     </div> 
                </ng-container>
        
    
               <div class="carousel-item d-flex">
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="mkhna.jpg" alt="img">
                            </div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="plk.jpg" alt="img">
                            </div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="aml.jpg" alt="img">
                            </div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="hing.jpg" alt="img">
                            </div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="ash.jpg" alt="img">
                            </div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item d-flex">
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="sunlite.jpg"
                                    alt="img"></div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Coriander Leaves<br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 6 Rs 4.04</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="ghe.jpg" alt="img">
                            </div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="elakki.jpg"
                                    alt="img"></div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="tata.jpg" alt="img">
                            </div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card w-25">
                            <div class="card-header align-self-center"><img class="img-fluid" src="mdhr.jpg" alt="img">
                            </div>
                            <div class="div card-body">
                                <h1 style="font-size:x-small;"> Fresho<br>
                                    Capsicum - Green <br><br>500 g</h1>
                                <div class="bg-light">
                                    <h1>MRP:
                                        Rs 53.02 Rs 42.42</h1>
                                </div>
                            </div>
                        </div>

                    </div> 
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> -->
        <br><br>
        <router-outlet></router-outlet>
        <!-- <app-allproducts></app-allproducts> -->
<!---
    <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="pretty.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="wholewheat.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row">
        <div class="pt-2 col col-lg-11">
            <h1 class="pt-4 text-center fs-5">Bank Offers</h1>
        </div>
    </div>
    <hr>
    <div class="m-12 justify-content-evenly d-flex px-28">
        <div>
            <img src="../Miniproject/cb.webp" alt="" width="280" class="h-full">
        </div>
        <div>
            <img src="../Miniproject/paytm.webp" alt="" width="280" class="h-full">
        </div>
        <div>
            <img src="../Miniproject/RBL.jpg" alt="" width="280" class="h-full">
        </div>
        <div>
            <img src="../Miniproject/DBS.jpg" alt="" width="280" class="h-full">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="pt-2 col col-lg-11">
            <h1 class="pt-1 text-center fs-5"> Best Seller </h1>
        </div>
        <div class="pt-2 col col-lg-1">
            <span>
                <div class="p-0 button btn pc">Show more</div>
            </span>
        </div>
        <hr>
    </div>
    <div id="carousel3" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active d-flex">
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="capc.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="flw.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Cauliflower <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 23.99 Rs 19.19</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="cart.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Carrot - Orange <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>
                                MRP:
                                Rs 46.71 Rs 37.37</h1>
                        </div>
                    </div>>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="dhny.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Coriander Leaves<br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 6 Rs 4.04</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="bnd.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Ladies Finger <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 23.99 Rs 19.19</h1>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item d-flex">
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="mkhna.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="plk.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="aml.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="hing.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="ash.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item d-flex">
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="sunlite.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Coriander Leaves<br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 6 Rs 4.04</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="ghe.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="elakki.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="tata.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>
                <div class="card w-25">
                    <div class="card-header align-self-center"><img class="img-fluid" src="mdhr.jpg" alt="img">
                    </div>
                    <div class="div card-body">
                        <h1 style="font-size:x-small;"> Fresho<br>
                            Capsicum - Green <br><br>500 g</h1>
                        <div class="bg-light">
                            <h1>MRP:
                                Rs 53.02 Rs 42.42</h1>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div> -->
    <br><br>
</div>