<!-- <div class="container-fluid p-5">
    <hr>
    <div class="row w-100 bg-light">
        <div class="col-sm-1 col-md-6 bg-dark 100vh" style="height: 400px;">
            
        </div>
        <div class="col-md-6 bg-dark">
           
        </div>
    </div>
</div> -->
<footer id="main-footer" class="p-5 mt-5 text-white bg-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center lead">Copyrights &copy; 2022 BigBasket</p>
            </div>
        </div>
    </div>
</footer>