
.rgba-gradient  {
    background: rgb(185, 184, 184) !important;
    height: 100%;

  }
/* 
  .ms-5 {
    margin-left: 180px !important;
  }

  .me-5 {
    margin-right: 400px !important;
  }

  /* .p {
      position: relative;
      top: -30px;
  } 
  .pc {
    background-color: #84c225 !important;
  }

  .btnh:hover {
    background-color: #84c225 !important;
  }

  h1 {
    font-size: small !important;
  } */

  /* $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  }) */